@page "/vejrudsigt"

<PageTitle>Weather forecast</PageTitle>
@using DataModels;
@using Dashboard.Services
@inject IWeatherForecastService _forecastservice


@if (forecasts == null)
{
    <p class="mt-5"><em>Henter data...</em></p>

}
else
{
    <h1>Vejrudsigt for <span>Kolding</span></h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Temperature. (&#8451;)</th>
                <th>Cloudcover (%)</th>
                <th>Conditions</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var forecast in forecasts)
            {
                <tr>
                     <td>@forecast.Day.ToShortDateString()</td>
                     <td>@forecast.Day.ToString("HH:mm")</td>
                    <td>@forecast.Temperature</td>
                    <td>@forecast.Cloudcover</td>
                    <td>@forecast.Conditions</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private WeatherForecastModel[]? forecasts = null;

    protected override async Task OnInitializedAsync()
    {
        forecasts = await _forecastservice.GetWeatherForecast();
    }
}
