
@using Dashboard.Data
@inject WeatherForecastService ForecastService



@if (forecast == null)
{
    <p><em>Loading...</em></p>

}
else
{

    <div class="col-lg-3">
        <div class="card">
            <div class="card-header">
               <b>Vejret i <span>@forecast.Location</span></b>
            </div>
            <div class="card-body">
                <em class="card-title">
                   Den <span>@forecast.Day.ToShortDateString()</span>
                   kl.<span>@forecast.Day.Hour</span>.00 og en time frem
                    </em>
                        <ul class="list-group list-group-flush mt-3 mb-2">
                            <li class="list-group-item">Temperatur: <span>@forecast.Temperature</span> &#8451;</li>
                            <li class="list-group-item">Skydække: <span>@forecast.Cloudcover</span> %</li>
                            <li class="list-group-item">Conditions: <span>@forecast.Conditions</span></li>
                        </ul>
                        <button type="button" class="btn btn-primary btn-sm float-end">Reload</button>
            </div>
        </div>
    </div>
  
}

@code {
    private WeatherForecast? forecast;

    protected override async Task OnInitializedAsync()
    {
        forecast = await ForecastService.GetWeatherAsync("Kolding", "Jeger1studerende");
    }
}
